<header class="v2-masthead">
  <div class="v2-wrapper">
    <nav class="v2-masthead__nav">
      <span class="v2-mono-label">No. 001</span>
      <a href="{{ '/v2/' | relative_url }}" class="v2-masthead__wordmark v2-display">
        Overman<span style="color: #1E40FF;">.</span>
      </a>
      <ul class="v2-masthead__links">
        <li><a href="{{ '/v2/' | relative_url }}" class="v2-link">Index</a></li>
        <li><a href="#" class="v2-link">Papers</a></li>
        <li><a href="#" class="v2-link">Notes</a></li>
        <li><a href="#" class="v2-link">CV</a></li>
      </ul>
    </nav>
  </div>
</header>
